{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to My Project</h1>
<p>This is the home page. Content will be added here later.</p>

<div>
  <h2>Expenses Overview</h2>
  <form method="get" action="{% url 'home:index' %}">
    <div class="form-row mb-3">
      {{ form.view_type.label_tag }}
      {{ form.view_type }}
    </div>
    <div class="form-row mb-3" id="category-group">
      {{ form.category.label_tag }}
      {{ form.category }}
    </div>
    <div class="form-row mb-3" id="subcategory-group">
      {{ form.subcategory.label_tag }}
      {{ form.subcategory }}
    </div>
    <div class="form-row mb-3">
      {{ form.account.label_tag }}
      {{ form.account }}
    </div>
    <div class="form-row mb-3">
      {{ form.time_range.label_tag }}
      {{ form.time_range }}
    </div>
    <div class="form-row mb-3">
      <div class="col" id="start-date-group">
        {{ form.start_date.label_tag }}
        {{ form.start_date }}
      </div>
      <div class="col" id="end-date-group">
        {{ form.end_date.label_tag }}
        {{ form.end_date }}
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div id="expenses-chart">
    {{ chart_html|safe }}
  </div>
  <p>Total Expenses: {{ total_price }}zł</p>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        function updateForm() {
            const viewType = document.getElementById('id_view_type').value;
            const timeRange = document.getElementById('id_time_range').value;
            const categoryGroup = document.getElementById('category-group');
            const subcategoryGroup = document.getElementById('subcategory-group');
            const startDateGroup = document.getElementById('start-date-group');
            const endDateGroup = document.getElementById('end-date-group');

            if (viewType === 'Category') {
                categoryGroup.style.display = 'block';
                subcategoryGroup.style.display = 'none';
            } else if (viewType === 'Subcategory') {
                categoryGroup.style.display = 'none';
                subcategoryGroup.style.display = 'block';
            } else {
                categoryGroup.style.display = 'none';
                subcategoryGroup.style.display = 'none';
            }

            if (timeRange === 'Custom') {
                startDateGroup.style.display = 'block';
                endDateGroup.style.display = 'block';
            } else {
                startDateGroup.style.display = 'none';
                endDateGroup.style.display = 'none';
            }
        }

        document.getElementById('id_view_type').addEventListener('change', updateForm);
        document.getElementById('id_time_range').addEventListener('change', updateForm);
        updateForm();
    });
</script>
{% endblock %}
