{% extends "base.html" %}

{% block title %}Transfer List{% endblock %}

{% block content %}
<h1>Transfer List</h1>
<table class="table">
  <thead>
  <tr>
    <th>Source Account/Description</th>
    <th>Balance Before Transfer</th>
    <th>Destination Account</th>
    <th>Balance Before Transfer</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  {% for data in combined_data %}
  <tr>
    <td>
      {% if data.type == 'transfer' %}
      {{ data.source_account }}
      <span style="color: red;">(-{{ data.amount|floatformat:2 }})</span>
      {% else %}
      {{ data.source_account }}
      {% endif %}
    </td>
    <td>{{ data.source_balance_before }}</td>
    <td>
      {{ data.destination_account }}
      <span style="color: green;">(+{{ data.amount|floatformat:2 }})</span>
    </td>
    <td>{{ data.destination_balance_before }}</td>
    <td>{{ data.amount|floatformat:2 }}</td>
    <td>{{ data.date }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
