{% extends "base.html" %}

{% block title %}Transfer List{% endblock %}

{% block content %}
<h1>Transfer List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Source Account</th>
            <th>Balance Before Transfer</th>
            <th>Destination Account</th>
            <th>Balance Before Transfer</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for data in transfer_data %}
        <tr>
            <td>
                {{ data.transfer.source_account.name }}
                <span style="color: red;">(-{{ data.transfer.amount|floatformat:2 }})</span>
            </td>
            <td>{{ data.transfer.source_balance_before }}</td>
            <td>
                {{ data.transfer.destination_account.name }}
                <span style="color: green;">(+{{ data.transfer.amount|floatformat:2 }})</span>
            </td>
            <td>{{ data.transfer.destination_balance_before }}</td>
            <td>{{ data.transfer.amount|floatformat:2 }}</td>
            <td>{{ data.transfer.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
